alembic
asgiref
attrs
Babel
bcc
bcrypt
bidict
blinker
Brlapi
Brotli
cachelib
certifi
cffi
chardet
charset-normalizer
click
cloud-init
colorama
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
dnspython
duplicity
eventlet
fasteners
Flask
Flask-Admin
Flask-Cors
Flask-HTTPAuth
Flask-Login
Flask-Migrate
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
gTTS
gunicorn
gyp-next
h11
httplib2
idna
invoke
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
Mako
markdown-it-py
MarkupSafe
mdurl
monotonic
msgspec
netaddr
netifaces
oauthlib
olefile
packaging
paramiko
pexpect
pillow
playsound
psutil
ptyprocess
pyasyncore
pycairo
pycparser
pycups
pygame
Pygments
PyGObject
pyinotify
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
pysmbc
python-apt
python-dateutil
python-debian
python-dotenv
python-engineio
python-socketio
pytz
pyxdg
PyYAML
requests
rich
setuptools
setuptools-scm
simple-websocket
simplejson
six
SQLAlchemy
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
Werkzeug
wheel
wsproto
WTForms
xdg
xkit
gunicorn
