<!DOCTYPE html>
<html lang="en" translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <link rel="icon" href="/static/images/logo2.jpg" type="image/x-jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Compiler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CodeMirror CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/theme/dracula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/theme/monokai.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/theme/material.min.css">

    <!-- CodeMirror Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/mode/clike/clike.min.js"></script> <!-- Mode C++ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/hint/anyword-hint.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compiler.css') }}">
</head>


<body>
    <div class="row m-0">
        <div class="col">
            <div class="d-flex justify-content-between mb-2 bg-dark rounded p-2">
                <div class="col-12 w-25">
                    <label class="visually-hidden" for="inlineFormSelectTheme">Theme</label>
                    <select class="form-select" id="inlineFormSelectTheme">
                        <option value="dracula" selected>Dracula</option>
                        <option value="monokai">Monokai</option> 
                        <option value="material">Material</option>
                        <option value="default">Default</option>
                    </select>
                </div>
                <button type="button" onclick="window.location.href='/'">Trang Chính</button>
                <div>
                    <button type="button" id="run">Run<i class="bi bi-play-fill"></i></button>
                </div>
            </div>
            <textarea id="editor" class="form-control" aria-label="Editor"></textarea>
                
        </div>
        <div class="col d-flex flex-column rounded bg-dark px-4">
            <div class="h-50">
                <label for="input" class="text-light mt-4 mb-2">Input</label>
                <textarea id="input" class="form-control h-75" aria-label="Input"></textarea>
            </div>
            <div class="h-50">
                <label for="output" class="text-light mb-2">Output</label>
                <textarea id="output" class="form-control h-75" aria-label="Output" readonly></textarea>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/compiler.js') }}"></script>
</body>

</html>
