<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="/static/images/logo2.jpg" type="image/x-jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Đăng ký</h1>
            <form id="register-form" method="post">
                <label for="username">Tên người dùng:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm-password">Xác nhận mật khẩu:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
                
                <button type="submit">Đăng ký</button>
            </form>
            <div id="error-message" class="error-message"></div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/28.gif') }}" alt="Register Image">
        </div>
    </div>
</body>
</html>
