<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo2.jpg" type="image/x-jpg">
    <title>Thử thách lập trình C++</title>
    <link rel="stylesheet" href="/static/css/thuthach.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <header>
        <h1>Thử thách lập trình</h1>
    </header>
    <div class="navbar">
        <a href="/" class="navbar-link">Trang Chính</a>
    </div>
    <main id="content">
        <!-- Các thử thách sẽ được thêm vào đây bởi JavaScript -->
    </main>
    <footer>
        <p></p>
    </footer>
    <script src="/static/js/thuthach.js"></script>
</body>
</html>
